<a href="https://colab.research.google.com/github/triankhoa/ThuchanhtoanCC/blob/main/ontap.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
sum = 0
for i in range(0, 10):
  sum = (sum)**2+1
print(sum)

3791862310265926082868235028027893277370233152247388584761734150717768254410341175325352026

In [50]:
sum2 = 0
for i in range(0, 10):
  sum2 = (sum2)**2-1
  print(sum2)

-1
0
-1
0
-1
0
-1
0
-1
0

In [51]:
sum3 = 0
for i in range(9996, 10001):
  sum3 = (sum3)**2-0.5
  print(i, sum3)

9996 -0.5
9997 -0.25
9998 -0.4375
9999 -0.30859375
10000 -0.4047698974609375